
.body-image {
    position: relative;
}
.body-image::after {
    content: '';
    display: block;
    background-image: url(fondo.jpg);
    background-size: cover;
    opacity: 0.5;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.log-container,
.reg-container {
    display: flex;
    justify-content: center;
    padding: 5rem;
    position: relative; 
}

.login,
.register {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
    height: auto;
    /* background-image: url(./proy.jpg); */
    text-align: center;
    width: 500px;
}



h1 {
    font-size: 2rem;
    color: aliceblue;
    font-weight: bold;

}

h2 {
    color: #7fffd4;
    text-align: center;
    margin: 10px;
}

.form_auth {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    height: 0%;
    border: none;
    outline: none;
    padding: 0.8rem;
    border-bottom: 1px solid #51e2e9;


    &::placeholder {
        color: #272626;
    }
}


/* button { 
        height: 16%;
        font-size: 1rem;
        font-weight: 400;
        padding: 1rem;
        border: none;
        background: #51e2e9;
        color: #000;
        cursor: pointer;

        &:hover{
            animation: 5s ease-in linear infinite;
            color: rgb(255, 242, 242);
            background-color: rgb(27, 29, 31);
        }
    } */


p a {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #7fffd4;

}